.wrapper{
  /* background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000'); */
}

.grey-container{
  background-color: rgba(0, 0, 0, 0.2);
  margin: 30px 15px;
  height: 800px;
  padding: 30px 40px;
  color: white;
}

.input-wraper{
  margin-top: 20px;
}

.loader{
  margin-top: 20px;
}

.no-results{
  margin-top: 20px;
  color: red;
}